@media only screen and (max-width: 1400px) {
    main {
        grid-template-columns: auto 98vw;
    }
    #navBarLeft {
        z-index: 10000;
        width: 25vw;
    }
    #leftBarToggltButton {
        display: inline-block;
    }
}
@media only screen and (min-width: 900px) and (min-height: 900px) {
    .singleActionableDiv {
        height: 30px !important;
        max-height: 30px !important;
    }    
}
/*@media only screen and (max-height: 600px) {
    .singleActionableDiv {
        grid-template-rows: repeat(2, 6vh);
        grid-template-columns: 25% 35% auto;
        height: 15vh !important;
        max-height: 15vh !important;
    }
    #currentActionableOutput{
        margin-top:0 !important;
    }
}*/
/*@media only screen and (max-height: 500px) {
    .singleActionableDiv {
        grid-template-rows: repeat(2, 8vh) !important;
        grid-template-columns: 25% 35% auto;
        height: 16vh !important;
        max-height: 16vh !important;
    }
}*/
@media only screen and (max-width: 970px), (max-height: 600px) {
    .singleActionableDiv {
        grid-template-rows: repeat(2, 40px);
        max-width: 90vw;
        grid-template-columns: 25% 35% 40%;
        height: 80px !important;
        max-height: 80px !important;
    }

    .timeActionableDetail {
        grid-column: span 4;
    }

    .singleActionableDiv * {
        height: 40px !important;
        max-height: 40px !important;
        font-size: 1.1em !important;
        margin: 0 5px;
    }
    .singleActionableDiv .timeActionableDetail span,
    .singleActionableDiv .timeActionableDetail input {
        max-width: 15%;
        margin: 0 10px;
    }
    #currentActionableOutput {
        grid-column: span 4;
        margin-top: 7px;
    }
}
@media only screen and (max-width: 700px), (max-height: 500px) {
    .navbar-brand, .navbar-brand, .nav-item, .nav-link {
        font-size: 2.3vmax !important;
    }
    #currentSessionDiv > a {
        font-size: 1.0em;
        margin: 8px 15px 0 0;
    }
    .actionableButton {
        font-size: 2.0vmax !important;
        border: solid 0.25vmax;
    }
    #buttonEndSession {
        font-size: 0.9em;
    }
    
}
@media only screen and (max-width: 600px) {
    #navBarLeft {
        width: 45vw;
    }
    #navBarLeft * {
        font-size: 1.0em !important;
    }

    .singleActionableDiv .timeActionableDetail span,
    .singleActionableDiv .timeActionableDetail input {
        max-width: 20%;
        margin: 0 4px;
    }
    .singleActionableDiv .actionableDeleteButton {
        padding: 0 5px !important;
    }

    .actionableButton {
        height: 40px;
        font-size: 1.8vmax !important;
        padding: 1px 2px 2px 2px !important;
    }
    .singleSessionDiv h5 {
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 500px) {
    /*.singleActionableDiv * {
        font-size: 1.0em !important;
    }*/
    .singleActionableDiv .timeActionableDetail span,
    .singleActionableDiv .timeActionableDetail input {
        max-width: auto;
        margin: 0 2px;
    }

    .singleSessionDiv h6 {
        margin:0 !important;
    }
    .singleSessionDiv h5 {
        font-size: 1.0em;
    }
    #currentActionableDiv .singleActionableDiv {
        grid-template-rows: repeat(2, 4.5vh);
        height: 10vh;
        max-height: 10vh;
    }

    #currentActionableDiv #currentActionableOutput {
        grid-column: span 1;
        padding-bottom: 8px;
        margin: auto;
    }

    #currentActionableDiv .singleActionableDetails {
        grid-column: span 2;
        width: 85%;
        padding-bottom: 5px;
    }

    #currentActionableDiv .singleActionableSection {
        grid-column: span 2;
    }
}
@media only screen and (max-width: 450px) {
    .navbar li:nth-child(1) {
        padding-top: 5%;
    }
    #navBarLeft {
        width: 50vw;
    }
    .singleSessionDiv h6 {
        display:none;
    }
    .actionableButton {
        overflow: visible;
        text-overflow: ellipsis;
    }
}
