/* navBarLeft section*/
#leftBarToggltButton {
    display: none;
    position: fixed;
    height: 100vh;
    max-width: 1vh;
    border-radius: 0px;
    background: gray;
    border:none;
}
#leftBarToggltButton svg{
    scale: 1.1;
}

#navBarLeft {
    background-color: #E7E9EB;
    margin: 0;
    padding: 8vh 0 2vh 0 !important;
    position: fixed;
    top: 0;
    width: 15vw;
    height: 92vh;
    overflow: scroll;
    z-index: 2;
    box-sizing: content-box;
}

#navBarLeft p {
    text-align: center;
}
#navBarLeft .sectionContainerInd {
    display: flex;
    align-items: center;
}
#navBarLeft .sectionContainerInd span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-decoration: underline;
}

#navBarLeft .sectionContainerInd:hover, 
#navBarLeft .sectionContainerInd:has(.spanSelected) {
    background-color: lightgray;
    cursor: pointer;
}

.addSectionButton, .collapseButton {
    line-height: 5px;
    width: 5px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.3em;
    margin-right: 8%;
}

#navBarLeft #addSectionForm {
    position: fixed;
    border: 1px solid black;
    display: none;
    left: 0;
    top: 0;
    background-color: #E7E9EB;
    width: auto;
    height: auto;
    font-size: 2.5vmin;
    z-index: 10 !important;
}
#addSectionForm > p {
    margin:auto;
}
#addSectionForm > form > p {
    margin: 5% 5px 0 5px;
}
#navBarLeft #addSectionForm input[type="text"] {
    width: 60%;
}
#navBarLeft #addSectionForm button {
    margin:5px;
    float:right;
    height:35%;
    width:35%;
    border:1px solid black;
}
