* {
    font-family: system-ui, serif;
}
body{
    display:grid;
    /* top navbar the rest of the body*/
    grid-template-rows:6vh 94vh;
    padding:0;
}
/* navBarTop section*/
.navbar {
    height: 6vh;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    /*the left section side, empty element, and the main body*/
    grid-template-columns: 15vw 85vw;
    padding: 0;
    position: relative;
}


/* mainBodyRight section*/
#mainBodyRight {
    padding: 15px;
    padding-top: 50px;
}
#currentSessionDiv {
    display: inline-block;
    text-align: center;
}
.sessionFadedButton {
    opacity: 0.5;
    pointer-events: none; /* disable click events */
}

/* actionable buttons*/
.actionableButton {
    border: none;
    background-color: transparent;
    border: solid 2px;
    border-color: inherit;
    transition: all .2s;
}
.actionableButtonSelected:hover {
    filter: brightness(80%)
}
#actionableButtonsDiv {
    display: inline-block;
}

/* session display */
.singleSessionDiv {
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    background-color: #f3f6f7;
    border: 1px solid black;
}
.singleSessionDiv h6 {
    font-family: "Roboto";
    display:inline-block;
    font-size: 1em;
    display: inline;
}
/* the time bar of each session*/
.barClass {
    background-color: #efefef;
    height: 17px;
    width: 100%;
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.ruler {
    width: 100%;
    height: 40px;
    border-top: 1px solid #000;
    position: relative;
    margin-left: 0px;
}
/* Style for ruler points */
.ruler-point {
    width: 1px;
    height: 3px;
    background-color: #000;
    position: absolute;
}
/* Style for ruler labels */
.ruler-label {
    text-align: center;
    position: absolute;
    top: 2px;
    font-size: 0.6em;
}


/* display the overlay on each subbar. Shows the total time of each actionable */
#barOverlay {
    position: absolute;
    text-align:center;
    padding: 10px 10px 10px 7px;
    width: 9vh;
    background-color: #f3f6f7;
    z-index: 1;
    display: none;
    pointer-events: none;
    border: 1px solid black;
    border-radius:5px;
}
/* appears when hovering over a subbar*/
#barOverlay.active {
    display: block;
}
/* an element (actionable) of the overlay */
#barOverlay .subElement{
    font-size: 0.9em;
    padding:0;
    margin:0;
    line-height:14px;
}
#barOverlay .title{
    font-size: 1.0em;
}

.minimizeActionablesButton{
    width: 100%;
    height:14px;
    margin-top:10px;
    padding:0;
}
.minimizeActionablesButton svg{
    padding:0;
    margin:0;
    vertical-align:top;
}

.singleSessionActionablesContainer {
    padding: 0;
    margin-top: 10px;
    max-height: 50vh;
    overflow-y: scroll;
}

.singleSessionActionablesContainer li:nth-child(odd) {
    background-color: #f0f0f0; 
}
.singleSessionActionablesContainer li:nth-child(even) {
    background-color: #e6e6e6;
}

.singleActionableDiv {
    display: grid;
    grid-template-columns: 8px 15% 18% auto 35%;
    height: 5vh;
    max-height: 5vh;
    margin:3px 0 0 0;
}
/* limit the height of all children */
.singleActionableDiv *{
    height: inherit;
    max-height: inherit;
    font-size: 3.0vmin !important;
}
.singleActionableDiv.zoomEffect{ 
    transform: scale(1.02);
}
.singleActionableDiv .singleActionableColor {
    width: 8px;
    display: inline-block;
}
.singleActionableDiv .singleActionableName,
.singleActionableDiv .singleActionableSelect {
    padding-left: 0px;
    margin: 0 5px 0 3px;
}
/* handle text overflow of several singleActionableDiv elements */
.singleActionableDiv .singleActionableName, 
.singleActionableDiv .singleActionableSection, 
.singleActionableDiv .singleActionableSelect, 
.singleActionableDiv .singleSectionSelect {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.singleActionableDiv select{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
}
.singleActionableDiv select option {
    padding: 8px;
    background-color: whitesmoke;
    color: #333;
    font:inherit;
    border-radius: 25px;
}
.singleActionableDiv select:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Add a focus border */
}

.singleActionableDiv input{
    height:80%;
    border:none;
    background-color:inherit;
    border-bottom: 1px solid;
    border-color:whitesmoke;
}
.singleActionableDiv input:hover{
    border-bottom: 1px solid black;
}
.singleActionableDiv .singleActionableDetails {
    align-content:center;
}
.singleActionableDiv .timeActionableDetail {
    text-align: center;
    position:relative;
    right: 1px;
}
.singleActionableDiv .timeActionableDetail span,
.singleActionableDiv .timeActionableDetail input {
    font-size: 1em;
    font-family: "Roboto" !important;
    text-align: center;
    margin: 0 5px 0 5px;
    width:18%;
}
.singleActionableDiv .actionableDeleteButton {
    border:none;
    height:24px;
    padding: 0 10px 0 10px;
}

/* messages fading out*/
#messagesContainer {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;
    align-items: center;
}
#messagesContainer p {
    position:absolute;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: slategray;
}
.fade-out {
    animation: fadeOut 2s forwards; /* Use a CSS animation to fade out the element over 2 seconds */
}
@keyframes fadeOut {
    to {
        opacity: 0; /* At the end of the animation, the opacity will be set to 0 */
    }
}