{% extends 'base.html' %}

<!-- the main body -->
{% block mainBodyContent %}
{% load static %}
<script src="{% static 'TimeTrack2_APP/mainBodyContentScript.js' %}" defer></script>

<!-- display messages if any -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
<!-- todo: x on the message to close it-->
{% endif %}

<div id="responseMessage"></div>

<!-- session -->
<div>

</div>

<!--actionable buttons-->
<div>
    <h3>Actionables</h3>
    {% for i in actionablesChoices %}
        <button class="actionableButton" id="actionable_{{i.name}}" style="background-color:{{i.color}}">{{i.name}}</button>
    {% endfor %}
</div>
<br />
<br />


<h1 id="outputObject">00:00:00</h1>


<h3 id="currentlySelectedSession">Empty</h3>

<h4>Log</h4>
<div id="timerLog">

</div>

{% endblock %}

<!-- left nav panel, mainly sections -->
{% block leftNavContent %}
{% load static %}
<script src="{% static 'TimeTrack2_APP/leftNavContentScript.js' %}" defer></script>
{{sections|json_script:"sectionsJson"}}

<!-- list of sections -->
<div id="sections">
    <h3>Sections</h3>
    <div id="addSectionForm">
        <p style="height:10px;margin:0px" id="addSectionFormTitle">formTitle</p>
        <form method="post" action="{% url 'TimeTrack2_APP:homepage' %}">
            {% csrf_token %}
            {{sectionForm.as_p}}

            <input type="hidden" style="display:none" id="addSectionFormParent" name="addSectionFormParent" value="unAcceptableValue" />
            <button type="submit">Add</button>
        </form>
    </div>
</div>
{% endblock %}


<!-- https://django-allauth.readthedocs.io/en/latest/views.html#login-account-login -->
<!--{% load socialaccount %}
<html>
<body>

    <h1>My Google OAuth Project </h1>
    {% if user.is_authenticated %}
        <p>Welcome, You are logged in as {{ user.username }}</p>
    {% else %}
        <a href="{% provider_login_url 'google' %}">Login With Google</a>
    {% endif %}
</body>
</html>-->

