<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'TimeTrack2_APP/style.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% block linksIfAny %} {% endblock %}
    <title>{% block title %}Timer App{% endblock %}</title>
</head>

<body>
    <div id="navBarTop">
        <h1> Time Tracker</h1>        
        {% if user.is_authenticated %}
        {#<p style="float:right"> <a href="{% url 'ERP_App:logout' %}">Log out</a></p>#}
        <p style="float:right"><h4> Hi, {{ user.first_name }}! </h4></p>
        {% else %}
        {#<p style="float:right"><a href="{% url 'ERP_App:login'%}">Login</a></p>#}
        {% endif %}        
    </div>    


    <div id="navBarLeft">
        {% block leftNavContent %}
        {% endblock %}
    </div>


    <div id="mainBodyRight">
        {% block mainBodyContent %}

        {% endblock %}
    </div>
    
    <footer>
        

    </footer>
    <br />
</body>
</html>

