html {
    background-color: #f1f1f1;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#navBarTop, #navBarLeft, #mainBodyRight {
    background-color: #FAFAFA;
}

/* navBarTop section*/
#navBarTop {
    /*height: 5%;*/
    position: sticky;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
#navBarTop h1, h4{
    margin:0px;
}

/* mainBodyRight section*/
#mainBodyRight {
    float: left;
    width: 80%;
    height: 75%;
    padding: 15px;
}
#currentSessionDiv {
    border: 1px solid black;
    padding: 10px;
    width: 50%;
    margin-top: 10px;
}
.sessionFadedButton {
    opacity: 0.5; /* Faded-out appearance */
    pointer-events: none; /* Disable click events */
}
/* actionable buttons*/
#actionablesContainerDiv {
    border: 1px solid black;
    margin-top: 15px;
    display:inline-block;
    padding:10px;
}
.actionableButton {
    height: 35px;
    width: 120px;
    color: white; /* Text color */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.actionableButtonSelected {
    border: solid cyan 5px;
    pointer-events: none; /* Disable click events */
}

/* session display */
.singleSessionDiv{
    border:1px solid black;
    margin-top:15px;
}
/* the time bar of each session*/
.barClass {
    border: 1px solid black;
    height: 17px;
    width: 85%;
    margin: 0;
    margin-top:15px;
    padding: 0;
}
.barRuler {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding: 0 5px;
}
.barRulerLabel {
    font-size: 12px;
}

/* display the overlay on each subbar. Shows the total time of each actionable */
#barOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 170px;
    background-color: white;
    z-index: 1;
    display: none;
}
/* appears when hovering over a subbar*/
#barOverlay.active {
    display: block;
}
/* an element (actionable) of the overlay */
#barOverlay .subElement{
    font-size: 0.9em;
}
#barOverlay .title{
    font-size: 0.7em;
}
/* place a dot/circle before each element*/
#barOverlay .subElement::before{
    content: "\2022";
    font-weight: bold; 
    font-size:1.5em;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 0.5em; /* Also needed for space (tweak if needed) */
}
/* color the dots before each item */
#barOverlay .subElement[colorvalue="blue"]::before {color: blue;}
#barOverlay .subElement[colorvalue="green"]::before {color: green;}
#barOverlay .subElement[colorvalue="darkgreen"]::before {color: darkgreen;}
#barOverlay .subElement[colorvalue="yellow"]::before {color: yellow;}
#barOverlay .subElement[colorvalue="red"]::before {color: red;}
#barOverlay .subElement[colorvalue="pink"]::before {color: pink;}


.singleActionableDiv {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 85%;
    display: grid;
    grid-template-columns: 20px 130px 130px 250px 1000px;
    align-items: center;
}
.singleActionableDiv.zoomEffect{ transform: scale(1.1); }

.singleActionableDiv .singleActionableColor {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 5px;
}
.singleActionableDiv .singleActionableName, .singleActionableDiv .singleActionableSection, .singleActionableDiv .singleActionableSelect, .singleActionableDiv .singleSectionSelect {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.singleActionableDiv .singleActionableDetails {
    border: 1px solid black;
}
.singleActionableDiv .timeActionableDetail {
    width: 35%;
    margin-right: 5px;
    margin-left: 20px;
}
.singleActionableDiv .timeActionableDetail span,  .singleActionableDiv .timeActionableDetail input{
    width: 18%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* messages fading out*/
#messagesContainer {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;
    align-items: center;
}
#messagesContainer p {
    position:absolute;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: slategray;
}
.fade-out {
    animation: fadeOut 2s forwards; /* Use a CSS animation to fade out the element over 2 seconds */
}
@keyframes fadeOut {
    to {
        opacity: 0; /* At the end of the animation, the opacity will be set to 0 */
    }
}


/* navBarLeft section*/
#navBarLeft {
    float: left;
    width: 18%;
    height: 500px;
    margin-right: 2%;
    position: sticky;
}
#navBarLeft h3 {
    text-align:center;
}
#navBarLeft .sectionContainer{
    margin:0px; 

}
#navBarLeft .sectionContainerInd {
    display: flex;
    align-items: center;
}
#navBarLeft .sectionContainerInd span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;

    font-size:13px;
    text-decoration:underline;    
}
#navBarLeft .sectionContainer span:hover{
    background:grey;
    cursor:pointer;
}
#navBarLeft .sectionContainer .spanSelected{
    background:grey;
}
.addSectionButton, .collapseButton {
    line-height: 5px;
    width: 5px;
    text-align: left;
    border: none;
    background: none;
    margin-right: 12px;
    cursor: pointer;
}

#navBarLeft #addSectionForm {
    position: relative;
    position: fixed; /*Stay in place */
    border: 1px solid black;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: lightgrey;
}
#navBarLeft #addSectionForm input[type="text"]{
    width:100px;    
}
#navBarLeft #addSectionForm button{
    float:right;
}