html {
    background-color: #f1f1f1;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#navBarTop, #navBarLeft, #mainBodyRight {
    background-color: #FAFAFA;
}

/* navBarTop section*/
#navBarTop {
    /*height: 5%;*/
    position: sticky;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
#navBarTop h1, h4{
    margin:0px;
}

/* mainBodyRight section*/
#mainBodyRight {
    float: left;
    width: 88%;
    height: 75%;
    padding-left: 15px;
}
.actionableButton {
    height: 35px;
    width: 100px;
    margin-top: 15px;
    color: white; /* Text color */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
#actionableButtonSelected {
    border:solid cyan 5px;
}

.logEntry {
    width:40%;
}
.logEntry i {
    float:right;
}
#timerLog .barClass {
    border: 1px solid black;
    height:24px;
    width: 80%;
    margin:0;
    padding:0;
}

#timerLog .subBarClass {
    height: 23px;
    margin:0px;
    padding:0;
}

/* navBarLeft section*/
#navBarLeft {
    float: left;
    width: 10%;
    height: 500px;
    margin-right: 2%;
    position: sticky;
}
#navBarLeft h3 {
    text-align:center;
}
#navBarLeft .sectionContainer span{
    font-size:13px;
}
#navBarLeft .sectionContainer span:hover{
    background:grey;
    cursor:pointer;
}
#navBarLeft .sectionContainer .spanSelected{
    background:grey;
}

.sectionContainer button {
    line-height: 5px;
    width: 5px;
    text-align: left;
    border: none;
    background: none;
    margin-right: 12px;
    cursor: pointer;
}
#navBarLeft button:hover {
    /* todo: fix the background
    background-color:gray;*/
}
#navBarLeft #addSectionForm {
    position: relative;
    position: fixed; /*Stay in place */
    border: 1px solid black;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: lightgrey;
}
#navBarLeft #addSectionForm input[type="text"]{
    width:100px;    
}
#navBarLeft #addSectionForm button{
    float:right;
}